# dependencies
/node_modules
/venv

# testing
/coverage

# production
/dist
/.cache

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python
__pycache__/
*.py[cod]
*$py.class
*.so
__pypackages__/
venv/
??
??.py
?.py

# cpp
cmake-build-debug
build
.idea
thirdparty
doxygen
CMakeLists.txt.user

# This Project
.DS_Store
.bin
SHREOS
.profile.*
?.js
??.js
.parcel-cache
package-lock.json
data
venv

